<div class="container my-5">   
    <h1>Asignar Tienda al articulo : {{tiendas[0].descripcion}}</h1>
    <table class="table" *ngIf="tiendas && tiendas.length > 0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Sucursal</th>
            <th scope="col">Articulo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tienda of tiendas">
            <td>{{tienda.idArticulo}}</td>
            <td>{{tienda.sucursal}}</td>
            <td>{{tienda.descripcion}}</td>
            <button
                (click)="asignaTienda(tienda.idTienda)"
                class="btn btn-dark btn-sm"
                [disabled]="tienda.asignada"
              >
           {{ tienda.asignada ? 'Asignado' : 'Asignar' }}
        </button>
          </tr>
        </tbody>
    </table>
</div>

<p *ngIf="!tiendas || tiendas.length <= 0"> No hay tiendas</p>