{{tiendaEdit|json}}
<div class="container my-5">
    <h1 class="mb-3"> Editar tienda</h1>
    
    <div class="row">
     <div class="col-6">
        <form #form = "ngForm" (ngSubmit)="editTienda()">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="text" class="form-control" id="Id" name="id" [(ngModel)]="tiendaEdit.id"  readonly>
            </div>
            <div class="mb-3">
                <label for="sucursal" class="form-label">Sucursal</label>
                <input type="text" class="form-control" id="sucursal" name="sucursal" [(ngModel)]="tiendaEdit.sucursal" >
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion"  [(ngModel)]="tiendaEdit.direccion">
            </div>
            <button type="submit" class="btn btn-dark mr-5">Guardar</button>
            <button type="button" class="btn btn-danger" (click)="deleteTienda()">Eliminar</button>
        </form>
     </div>
    </div>
    </div>